
/*

!/configs/
!/core/
!/datas/
!/models/
!/tools/
!/utils/

!/.gitignore
!/requirements.txt
!/数据增强.py
!/print_modle.py
!/single_pre.py

/README*
/使用说明.txt
**/__pycache__/
**/*.py[cod]
/models/*
!/models/resnet/
/models/resnet/*
!/models/resnet/resnet50.py
!/models/build.py
